.pagination a {
    color: black;
    padding: 16px 32px;
    margin-right: 10px;
    border: 1px solid white;
    background-color: red;
    display: inline-block;
}

.BG{
    background-color: blue;
    width: 100%;
}