# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\paskaitos nrml\New folder - Copy\antras kodas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
